<div class="fullSize" fxLayout="column nowrap">
  <mat-toolbar
    color="accent"
    class="toolbar"
    fxLayoutGap="15px"
    [@intro]="'normal'"
    *ngIf="currentUser | async; let user" >

    <a mat-icon-button routerLink="map"><mat-icon>home</mat-icon></a>
    <div fxFlex="auto" >
      <a mat-icon-button  *ngIf="user.admin" routerLink="admin"  ><mat-icon>tune</mat-icon></a>
    </div>

    <div
      class="playerMenu"
      fxLayoutGap="0%"
      fxFlex="auto"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxFlex="1 1 100%"
      *ngIf="currenChara | async; let chara"
      [@intro]="'normal'"
    >
      <button mat-button routerLink="map">carte</button>
      <button mat-button routerLink="perso">perso</button>
      <button mat-button routerLink="forum">forum</button>
      <button mat-button routerLink="ranks">classement</button>
    </div>

    <div fxFlex="auto" *ngIf="!getChara(); let chara">
      <span routerLink="bienvenue">créer un personnage</span>
    </div>


    <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button mat-fab color="accent" class="buttonUser link" [mat-menu-trigger-for]="menu" >
        <img [src]="user.avatarPath" class="iconUser">
      </button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item (click)="deconnection()">deconnexion</button>
      <button mat-menu-item routerLink="profil">profil</button>
    </mat-menu>
  </span>
  </mat-toolbar>


  <div class="fullSize">
    <router-outlet></router-outlet>
  </div>



</div>


