<!--div class="skeleton" fxLayout="column">
  <mat-toolbar color="accent">
    <ul class="nav-left">
      <li>
        <a mat-icon-button routerLink="/u/jeu" matTooltip="Mondes">
          <mat-icon>home</mat-icon>
        </a>
      </li>
      <li>
        <a mat-icon-button routerLink="/u/admin" matTooltip="Admin">
          <mat-icon>tune</mat-icon>
        </a>
      </li>
    </ul>


    <div>
      <span class="user">user </span>
      <button mat-icon-button (click)="userService.logout()" color="warn" matTooltip="Déconnexion">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="main-content" fxFlex="1 1 0%">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar color="primary" class="footer">
    <span class="mat-small">v0.0.1</span>
  </mat-toolbar>
</div>-->
<mat-toolbar color="accent" class="toolbar" fxLayoutGap="15px" [@intro]="'normal'" *ngIf="currentUser | async; let user">
  <span routerLink="map">Enigma</span>
  <span fxFlex="auto" >
    <span *ngIf="user.admin" routerLink="admin">admin</span>
  </span>

  <span fxFlex="auto" *ngIf="currenChara | async; let chara" >
    <span routerLink="map">carte</span>
    <span routerLink="perso">perso</span>
    <span routerLink="forum">forum</span>
    <span routerLink="ranks">classement</span>
  </span>

  <span fxFlex="auto" *ngIf="!getChara(); let chara">
    <span routerLink="bienvenue">créer un personnage</span>
  </span>


  <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button mat-fab color="accent" class="buttonUser link" [mat-menu-trigger-for]="menu" >
        <img [src]="'/assets/images/cat.png'" class="iconUser">
      </button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item (click)="deconnection()">deconnexion</button>
      <button mat-menu-item routerLink="profile">profile</button>
    </mat-menu>
  </span>


</mat-toolbar>

<router-outlet></router-outlet>
