<div *ngIf="!imageLoaderObservable" class="loading" fxLayout="column nowrap" fxLayoutAlign="center center"><h3>chargement...</h3></div>
<mat-toolbar
  *ngIf="accountService.getAccount() | async; let account"
  color="accent"
  class="toolbar"
  fxLayoutGap="15px"
  [@intro]="'normal'"
  (@intro.done)="startContent($event)"
>
  <button fxHide.lt-md mat-icon-button routerLink="map">
    <mat-icon>home</mat-icon>
  </button>

  <button
    fxHide.gt-sm
    mat-icon-button
    routerLink="map"
    [mat-menu-trigger-for]="menuLtMd"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menuLtMd="matMenu">
    <button mat-menu-item routerLink="game">accueil</button>
    <button mat-menu-item routerLink="game/map">carte</button>
    <button mat-menu-item routerLink="game/perso">perso</button>
    <button mat-menu-item routerLink="forum">forum</button>
    <button mat-menu-item routerLink="game/classement">classement</button>
  </mat-menu>

  <div fxFlex="auto">
    <!-- <a mat-icon-button  *ngIf="account.admin" routerLink="admin"  ><mat-icon>tune</mat-icon></a> -->
  </div>

  <div
    class="playerMenu"
    fxLayoutGap="0%"
    fxFlex="auto"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxFlex="1 1 100%"
    *ngIf="charaService.character | async as chara; else createChara"
    [@intro]="'normal'"
  >
    <button fxHide.lt-md mat-button routerLink="game/map">carte</button>
    <button fxHide.lt-md mat-button routerLink="game/perso">perso</button>
    <button fxHide.lt-md mat-button routerLink="forum">forum</button>
    <button fxHide.lt-md mat-button routerLink="game/classement">
      classement
    </button>
  </div>

  <ng-template #createChara>
    <div fxFlex="auto">
      <span routerLink="bienvenue">personnage</span>
    </div>
  </ng-template>

  <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <button
      mat-fab
      color="accent"
      class="buttonUser link"
      [mat-menu-trigger-for]="menu"
    >
      <img
        [src]="account.avatarPath || 'assets/images/homme.png'"
        class="iconUser"
      />
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deconnection()">deconnexion</button>
      <button mat-menu-item routerLink="profil">profil</button>
    </mat-menu>
  </span>
</mat-toolbar>
<router-outlet *ngIf="imageLoaderObservable" style="margin-top: 50px"></router-outlet>
