:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.fullsize {
  width: 100%;
  height: 100%;
}
.toolbar {
  padding: 0px;
  margin: 0px;
  z-index: 10000;
  position: fixed;
}
.buttonUser {
  overflow: hidden;
}
.iconUser {
  max-width: 100%;
  position: relative;
  bottom: 15px;
}
.menu {
  padding: 10px;
}
.flexExpand {
  flex: 1 1 auto;
}
.playerMenu {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.playermenuButon {
  height: 100%;
}

.player-content {
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: red;
}
.player-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
  visibility: visible;
  opacity: 1;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: gray;
}
.game-container {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
  visibility: visible;
  background-color: gray;
  display: flex;
  flex-direction: column;
}
