@import "../../../theme";

mat-card {
  margin-top: 30px;
}

#gender-selection,
#race-selection,
#religion-selection {
  img {
    width: 105px;
    border-radius: 50%;
    border: 5px solid transparent;

    &.active {
      border-color: mat-color($accent, default);
    }
  }
}
.container {
  overflow-x: autos;
}
.createPannel {
  opacity: 100;
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.fullscreen {
  width: 100%;
  height: 100%;
}

.createIcon {
  background-color: red;
  opacity: 0.5;
}

.test {
  width: 30vw;
}
.test2 {
  width: 70vw;
  height: 100%;
}

.button {
  margin: 50px;
  width: 100%;
  height: 100%;
}
.button:hover {
  background-color: lightblue;
}


.choices-container{
  width : 100% ;
  display: flex ;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}


.choice{
  height : 100% ;
  flex-basis: 0;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  margin : 0.25rem ;
  
}
.choice p{
  text-align: center;
}
.choice img{
  border-radius: 50% ;

  &.active {
    border : 3px solid gray;
    border-color: mat-color($accent, default);
  }
}