<div
  *ngIf="metaService.metaDatasSubject | async; let metaDatas"
  class="createPannel"
  [@start]="'normal'"
  style="margin-bottom: 200px"
  fxLayout="column nowrap"
  fxLayoutAlign="center center"
>
  <form
    [formGroup]="formGroup"
    (ngSubmit)="create()"
    class="fullscreen"
    fxLayout.gt-sm="row nowrap"
    fxLayout.lt-md="column nowrap"
    fxLayoutAlign.gt-sm="space-around center"
    fxLayoutAlign.lt-md="start center"
  >
    <div fxLayout="column nowrap" fxLayoutAlign="center center">
      <mat-card
        id="gender-selection"
        [ngClass.gt-sm]="{ test: true }"
        [ngClass.lt-md]="{ test2: true }"
      >
        <mat-card-title><span>Choix du sexe</span></mat-card-title>
        <mat-card-content class="d-flex justify-content-around">
          <img
            *ngFor="let currentGender of metaDatas['sexes']"
            (click)="formGroup.controls['sexe'].setValue(currentGender['key_'])"
            [src]="currentGender['img']"
            [matTooltip]="currentGender['name_fr']"
            [class.active]="
              formGroup.controls.sexe.value === currentGender['key_']
            "
          />
        </mat-card-content>
      </mat-card>

      <mat-card
        id="race-selection"
        [ngClass.gt-sm]="{ test: true }"
        [ngClass.lt-md]="{ test2: true }"
      >
        <mat-card-title><span>Choix de la race</span></mat-card-title>
        <mat-card-content class="d-flex justify-content-around container">
          <img
            *ngFor="let currentRace of metaDatas['races']"
            (click)="formGroup.controls.race.setValue(currentRace['key_'])"
            [src]="currentRace['img']"
            [matTooltip]="currentRace['name_fr']"
            [class.active]="
              formGroup.controls.race.value === currentRace['key_']
            "
          />
        </mat-card-content>
      </mat-card>

      <mat-card
        id="religion-selection"
        [ngClass.gt-sm]="{ test: true }"
        [ngClass.lt-md]="{ test2: true }"
      >
        <mat-card-title><span>Choix de la religion</span></mat-card-title>
        <mat-card-content class="d-flex justify-content-around container">
          <img
            *ngFor="let currentReligion of metaDatas['religions']"
            (click)="
              formGroup.controls.religion.setValue(currentReligion['key_'])
            "
            [src]="currentReligion['img']"
            [matTooltip]="currentReligion['name_fr']"
            [class.active]="
              formGroup.controls.religion.value === currentReligion['key_']
            "
          />
        </mat-card-content>
      </mat-card>
    </div>

    <div
      style="height: 100%"
      fxLayout="column nowrap"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >


    <mat-card
    id="clan-selection"
    [ngClass.gt-sm]="{ test: true }"
    [ngClass.lt-md]="{ test2: true }"
  >
    <mat-card-title><span>Choix du clan</span></mat-card-title>
    <mat-card-content class="choices-container">

      <div class="choice" 
      *ngFor="let clan of metaDatas['clan']"
      (click)="selectClan(clan)"
      >
          <img
          [src]="'/assets/images/man.png'"
          [matTooltip]="clan['name_fr']"
          [class.active]="formGroup.controls.clan.value === clan['key_']"
        />
        <p>{{clan['name_fr']}}</p>
      </div>


    </mat-card-content>
  </mat-card>




      <mat-card
        id="name-selection"
        [ngClass.gt-sm]="{ test: true }"
        [ngClass.lt-md]="{ test2: true }"
      >
        <mat-card-title><span>Choix du nom</span></mat-card-title>
        <mat-card-content class="pl-5 pr-5">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Nom</mat-label>
            <input
              type="text"
              matInput
              name="charName"
              formControlName="name"
            />
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <mat-card
        id="religion-selection"
        [ngClass.gt-sm]="{ test: true }"
        [ngClass.lt-md]="{ test2: true }"
      >
        <mat-card-title><span>validation</span></mat-card-title>
        <mat-card-content class="pl-5 pr-5">
          <button
            type="submit"
            mat-raised-button
            matRipple
            color="accent"
            [ngClass.gt-sm]="{ test: true }"
            [ngClass.lt-md]="{ test2: true }"
            [disabled]="!formGroup.valid"
          >
            Créer
          </button>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- <mat-grid-list cols="4" gutterSize="20px" rowHeight="1.7:1">
      <mat-grid-tile colspan="2">
        <mat-card id="gender-selection" class="w-100">
          <mat-card-title><span>Choix du sexe</span></mat-card-title>
          <mat-card-content class="d-flex justify-content-around">
            <img
              *ngFor="let currentGender of metaService.metaDatas['sexes']"
              (click)="
                formGroup.controls['sexe'].setValue(currentGender['key_'])
              "
              [src]="currentGender['img']"
              [matTooltip]="currentGender['name_fr']"
              [class.active]="
                formGroup.controls.sexe.value === currentGender['key_']
              "
            />
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-card id="name-selection" class="w-100">
          <mat-card-title><span>Choix du nom</span></mat-card-title>
          <mat-card-content class="pl-5 pr-5">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Nom</mat-label>
              <input
                type="text"
                matInput
                name="charName"
                formControlName="name"
              />
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-card id="race-selection" class="w-100">
          <mat-card-title><span>Choix de la race</span></mat-card-title>
          <mat-card-content class="d-flex justify-content-around">
            <img
              *ngFor="let currentRace of metaService.metaDatas['races']"
              (click)="formGroup.controls.race.setValue(currentRace['key_'])"
              [src]="currentRace['img']"
              [matTooltip]="currentRace['name_fr']"
              [class.active]="
                formGroup.controls.race.value === currentRace['key_']
              "
            />
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-card id="religion-selection" class="w-100">
          <mat-card-title><span>Choix de la religion</span></mat-card-title>
          <mat-card-content class="d-flex justify-content-around">
            <img
              *ngFor="let currentReligion of metaService.metaDatas['religions']"
              (click)="
                formGroup.controls.religion.setValue(currentReligion['key_'])
              "
              [src]="currentReligion['img']"
              [matTooltip]="currentReligion['name_fr']"
              [class.active]="
                formGroup.controls.religion.value === currentReligion['key_']
              "
            />
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="4">
        <button
          type="submit"
          mat-raised-button
          matRipple
          color="accent"
          [disabled]="!formGroup.valid"
        >
          Créer
        </button>
      </mat-grid-tile>
    </mat-grid-list> -->
  </form>
</div>

<!--form id="character-creation" (ngSubmit)="create()">
    <mat-grid-list cols="4" gutterSize="20px" rowHeight="1.7:1">
      <mat-grid-tile colspan="2">
        <mat-card id="gender-selection" class="w-100">
          <mat-card-title><span>Choix du sexe</span></mat-card-title>
          <mat-card-content class="d-flex justify-content-around">
            <img *ngFor="let currentGender of getGenders()" (click)="setGender(currentGender.key)" [src]="currentGender.img" [matTooltip]="currentGender.name_fr" [class.active]="gender === currentGender.key">
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-card id="name-selection" class="w-100">
          <mat-card-title><span>Choix du nom</span></mat-card-title>
          <mat-card-content class="pl-5 pr-5">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Nom</mat-label>
              <input type="text" matInput name="charName" #charName (keyup)="setName(charName.value)">
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-card id="race-selection" class="w-100">
          <mat-card-title><span>Choix de la race</span></mat-card-title>
          <mat-card-content class="d-flex justify-content-around">
            <img *ngFor="let currentRace of getRaces()" (click)="setRace(currentRace.key)" [src]="currentRace.img" [matTooltip]="currentRace.name_fr" [class.active]="race === currentRace.key">
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="2">
        <mat-card id="gender-selection" class="w-100 h-75">
          <mat-card-title><span>Histoire du personnage</span></mat-card-title>
          <mat-card-content>
            <p>[PROCHAINEMENT]</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-card id="religion-selection" class="w-100">
          <mat-card-title><span>Choix de la religion</span></mat-card-title>
          <mat-card-content class="d-flex justify-content-around">
            <img *ngFor="let currentReligion of getReligions()" (click)="setReligion(currentReligion.key)" [src]="currentReligion.img" [matTooltip]="currentReligion.name_fr" [class.active]="religion === currentReligion.key">
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile colspan="4">
        <button type="submit" mat-raised-button matRipple color="accent">Créer</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form-->
