<div
  fxLayout="column nowrap"
  fxLayoutAlign="center center"
  [@pops]="skillsAnimator"
  *ngIf="charaService.skills | async; let skills"
>
  <div class="title"   [ngClass.lt-md]="'title-lt-md'">
    <h2>Compétences {{ (charaService.character | async)["xp"] }}</h2>
  </div>

  <div class="skills" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div
      *ngFor="let skill of skills; let i = index"
      fxLayout="column nowrap"
      fxLayoutAlign="center center"
      class="skill"
      [ngClass.lt-md]="{
        'skill-lt-md-selected': i == selected,
        'skill-lt-md': i !== selected
      }"
      (click)="select(i)"
    >
      <div fxLayout="column nowrap" fxLayoutAlign="center center">
        <app-icons [key]="skill.key_"></app-icons>
        {{ skill.value }}
      </div>
      <div fxLayout="row nowrap">
        <button
          fxHide.lt-md
          mat-raised-button
          color="secondary"
          (click)="addSkill(skill, 1)"
          [disabled]="gotSkillsAdder(1) | async"
        >
          + 1
        </button>
        <button
          fxHide.lt-md
          mat-raised-button
          color="secondary"
          (click)="addSkill(skill, 5)"
          [disabled]="gotSkillsAdder(5) | async"
        >
          + 5
        </button>
        <button
          fxHide.lt-md
          mat-raised-button
          color="secondary"
          (click)="addSkill(skill, 10)"
          [disabled]="gotSkillsAdder(10) | async"
        >
          + 10
        </button>
      </div>
    </div>
    <div fxHide.gt-sm>
      <button
        mat-raised-button
        color="secondary"
        (click)="addSkill(skills[selected], 1)"
        [disabled]="gotSkillsAdder(1) | async"
      >
        + 1
      </button>
      <button
        mat-raised-button
        color="secondary"
        (click)="addSkill(skills[selected], 5)"
        [disabled]="gotSkillsAdder(5) | async"
      >
        + 5
      </button>
      <button
        mat-raised-button
        color="secondary"
        (click)="addSkill(skills[selected], 10)"
        [disabled]="gotSkillsAdder(10) | async"
      >
        + 10
      </button>
    </div>
  </div>
</div>
