mat-card{

  mat-card-title,
  mat-card-content {
    .mat-form-field {
      width: 100%;
      min-width: 300px;
    }

    .error {
      padding: 16px;
      width: 300px;
      color: white;
      background-color: red;
    }

    .button {
      display: flex;
      justify-content: flex-end;
    }
  }
}
mat-dialog-content{

}

.container{
  width : 360px ;
}
