<div
  [ngClass.lt-md]="'global-container-lt-md'"
  [ngClass.gt-sm]="'global-container-gt-sm'"
>
  <div class="left">
    <app-world-viewver
      [ngClass.lt-md]="'map-viewver-lt-md'"
      [ngClass.gt-sm]="'map-viewver'"
      [@pops]="mapPops"
      #worldViewver
      [character]="charaService.character"
      [socket]="socketService.socketObservable"
      (focusCase)="focus($event)"
    >
    </app-world-viewver>
    <div [ngClass.lt-md]="'historic-lt-md'" [ngClass.gt-sm]="'historic'">
      <app-historic></app-historic>
    </div>
  </div>

  <div [ngClass.lt-md]="'right-lt-md'" [ngClass.gt-sm]="'right-objs'">
    <div [ngClass.lt-md]="'objs-lt-md'" [ngClass.gt-sm]="'objs'">

      <div
      [ngClass.lt-md]="'chara-viewver-lt-md'"
      [ngClass.gt-sm]="'chara-viewver'"
      *ngIf="charaService.character | async; let chara"
    >
      <div [ngClass.lt-md]="'chara-lt-md'" [ngClass.gt-sm]="'chara'">
        <img [src]="getImg(chara)" />
        {{ chara["life"] }}/{{ chara["life_max"] }}
        {{ chara["clan"] }}
      </div>


    </div>


      <div *ngFor="let obj of getFocused() | async">
        <app-target
          [ngClass.lt-md]="'target-lt-md'"
          [ngClass.gt-sm]="'target'"
          [user]="obj"
        ></app-target>
      </div>
    </div>

    <div
      [ngClass.lt-md]="'ground-lt-md'"
      [ngClass.gt-sm]="'ground'"
      *ngIf="getFocusedGround() | async; let ground"
    >
      <div
        [ngClass.lt-md]="'ground-content-lt-md'"
        [ngClass.gt-sm]="'ground-content'"
      >
        <img [src]="getImg(ground)" />
      </div>
    </div>
  </div>
</div>
