<div class="map-content" fxLayout="row nowrap">
  <div
    class="left"
    fxLayout="column nowrap"
    fxLayoutAlign="space-around center"
    fxLayoutGap="20px"
  >
    <div class="map-viewver">
      <app-world-viewver
        [@pops]="mapPops"
        #worldViewver
        [character]="charaService.character"
        [socket]="socketService.socketObservable"
        (focusCase)="focus($event)"
      >
      </app-world-viewver>
    </div>

    <div
      *ngIf="charaService.character | async; let chara"
      class="target"
      fxLayout="column nowrap"
      fxLayoutAlign="start center"
    >
      <app-view-player [target]="chara"></app-view-player>
    </div>
  </div>

  <div
    class="left"
    fxLayout="column nowrap"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
  >
    <div
      *ngIf="getFocused() | async; let objs"
      fxLayout="row wrap"
      fxLayoutAlign="start start"
      fxLayout="row wrap"
    >
      <div
        *ngFor="let obj of objs"
        class="target"
        fxLayout="column nowrap"
        fxLayoutAlign="start center"
      >
        <app-view [target]="obj"></app-view>
        <app-action
          [user]="charaService.character | async"
          [target]="obj"
        ></app-action>
      </div>
    </div>
  </div>
</div>
