:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: scroll;
}
.global-container-gt-sm {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}
.global-container-lt-md {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.map-content {
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
}
.map-viewver {
  width: 600px;
  height: 300px;
  border: 1px solid gray;
}
.map-viewver-lt-md {
  width: 90vw;
  height: 45vw;
  border: 1px solid gray;
}
.chara-viewver {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  background-color: white;
}
.chara-viewver-lt-md {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  background-color: white;
}
.chara {
  padding: 10px;
  height: 200px;
  width: 200px;
}
.chara-lt-md {
  padding: 5px;
  height: 28vw;
  width: 28vw;
  font-size: 7px;
}
.chara img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.chara-lt-md img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.historic {
  margin: 10px;
  border: 1px solid gray;
  width: 60%;
  height: 212px;
}
.historic-lt-md {
  margin: 5px;
  border: 1px solid gray;
  width: 60%;
  height: 30vw;
}
.target {
  background-color: white;
  width: 128px;
  height: 256px;
  border: 1px solid gray;
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
}
.left {
  border: 1px solid black;
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.right {
  width: 50vw;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
}
.right-lt-md {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.objs {
  padding: 20px;
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: wrap;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.objs-lt-md {
  padding: 5px;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: wrap;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.ground {
  padding: 20px;
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: wrap;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.ground-lt-md {
  width: 90%;
  height: 25vh;
  display: flex;
  flex-direction: wrap;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.ground-content {
  width: 100%;
  padding: 20px;
  background-color: white;
}
.ground-content-lt-md {
  width: 100%;
  padding: 10px;
  background-color: white;
}
.ground-content img {
  border-radius: 50%;
  height: 100%;
  width: auto;
}
.ground-content-lt-md img {
  border-radius: 50%;
  height: 100%;
  width: auto;
}

.target {
  width: 128px;
  height: 256px;
  border: 1px solid gray;
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
}
.target-lt-md {
  width: 64px;
  height: 128px;
  border: 1px solid gray;
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
}
