.map-content {
  width: 100%;
  height: 100%;
}
.map-viewver {
  width: 512px;
  height: 256px;
}
.target {
  background-color: white;
  border: 1px solid gray;
  padding: 2px;
  margin: 2px;
}
.left {
  min-height: 70vh;
  width: 50vw;
  height: 100%;
}
