<mat-toolbar
  fxLayout="row nowrap"
  fxLayoutGap="10px"
  fxLayoutAlign="space-between center"
  [@pops]="popsAnimator"
>
  <div
    *ngIf="charaService.resources | async; let resources"
    fxLayoutAlign="start center"
  >
    <div
      *ngFor="let res of resources"
      fxLayout="row nowrap"
      fxLayoutAlign="center center"
    >
      <app-icons [size]="32" [key]="res.key_"></app-icons>
      {{ res.value }}
    </div>
  </div>

  <div
    *ngIf="charaService.playTokens | async; let resources"
    fxLayoutAlign="start center"
  >
    <div
      *ngFor="let res of resources"
      fxLayout="row nowrap"
      fxLayoutAlign="center center"
    >
      <app-icons [size]="32" [key]="res.key_"></app-icons>
      {{ res.value }}
    </div>
  </div>
</mat-toolbar>
