<mat-card fxFlex="100%">
  <mat-card-title><span>Créer un compte</span></mat-card-title>
  <mat-card-content fxLayout="column nowrap">
    <form
      fxLayout="column nowrap"
      fxLayoutAlign="center start"
      [formGroup]="formGroup" (ngSubmit)="create()"
    >
      <mat-form-field>
        <input type="text" matInput formControlName="name" placeholder="nom">
        <mat-error>{{formGroup.get('name').errors | inputMail: 'create'}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="email" placeholder="email">
        <mat-error>{{formGroup.get('email').errors | inputMail: 'create'}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="password" matInput formControlName="password" placeholder="Mot de passe">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput formControlName="confirm" placeholder="Confirmer mot de passe">
        <mat-error>les mots de passe ne correspondent pas</mat-error>
      </mat-form-field>

      <button class="buttonForm" type="submitLogin" mat-raised-button color="accent"  [disabled]="!formGroup.valid">créer</button>
    </form>
  </mat-card-content>
</mat-card>
