<div
  fxLayout="column nowrap"
  fxLayoutAlign="center center"
  [@pops]="skillsAnimator"
  *ngIf="charaService.skills | async; let skills"
>
  <h1>Compétences {{ (charaService.character | async)["xp"] }}</h1>
  <div class="skills" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div
      *ngFor="let skill of skills"
      fxLayout="column nowrap"
      fxLayoutAlign="center center"
      class="skill"
    >
      <div fxLayout="column nowrap" fxLayoutAlign="center center">
        <app-icons [size]="64" [key]="skill.key_"></app-icons>
        <h3>{{ skill.value }}</h3>
      </div>
      <div fxLayout="row nowrap">
        <button
          mat-raised-button
          color="secondary"
          (click)="addSkill(skill, 1)"
          [disabled]="gotSkillsAdder(1) | async"
        >
          + 1
        </button>
        <button
          mat-raised-button
          color="secondary"
          (click)="addSkill(skill, 5)"
          [disabled]="gotSkillsAdder(5) | async"
        >
          + 5
        </button>
        <button
          mat-raised-button
          color="secondary"
          (click)="addSkill(skill, 10)"
          [disabled]="gotSkillsAdder(10) | async"
        >
          + 10
        </button>
      </div>
    </div>
  </div>
</div>
