
.page{
  height: 100%;
}
.accountConnection{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.signin{

  opacity: 0.0;
  width: 100%;

}
.signout{

  width: 100%;

}


.connection-main-center{
  overflow: hidden;
}
.connection-main-safe{

}

.connection-default{
  padding: 10px;
}
.connection-sm{
  padding: 10px;
}
.connection-normal{
}
.connection-big{
}


.height-center{
  align-self: center;
}
.height-safe{
  align-self: normal;
}
