:host{
  display : flex ;
  flex-flow: column nowrap;
  justify-content: center ;
  min-height: 100vh ;
  width : 100vw ;
}

.cards-container{
  min-width : 300px ;
  display : flex ;
  flex-flow: row wrap ;
  justify-content: center ;
  align-items: stretch ;
}

.page{
  height: 100%;
}
.accountConnection{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.signin{

  opacity: 0.0;
  width: 100%;

}
.signout{

  width: 100%;

}


.connection-main-center{
  overflow: hidden;
}


.connection-default{
  padding: 10px;
}
.connection-sm{
  padding: 10px;
}

.height-center{
  align-self: center;
}
.height-safe{
  align-self: normal;
}
