<div class="world-view-container" *ngIf="character | async; let chara">
  <canvas #canvas class="canvas">
    
  </canvas>
  <button
    [disabled]="chara['move'] && chara['move'] <= 0"
    class="button-lg button top left"
    (click)="moveEvent(0, -1)"
  >
    -x
  </button>
  <button
    [disabled]="chara['move'] && chara['move'] <= 0"
    class="button-lg button bottom right"
    (click)="moveEvent(0, 1)"
  >
    +x
  </button>
  <button
    [disabled]="chara['move'] && chara['move'] <= 0"
    class="button-lg button top right"
    (click)="moveEvent(1, 0)"
  >
    +y
  </button>
  <button
    [disabled]="chara['move'] && chara['move'] <= 0"
    class="button-lg button bottom left"
    (click)="moveEvent(-1, 0)"
  >
    -Y
  </button>
  <p class="position" *ngIf="worldService.posBehavior | async; let pos">
    {{ pos["x"] }}x, {{ pos["y"] }}y
  </p>
  <p class="position-selected" *ngIf="getFocusedPosition() | async; let pos">
    {{ pos["x"] }}x, {{ pos["y"] }}y
  </p>
</div>
