<h2>Admin Worlds</h2>
<div *ngIf="worlds | async; let ws">
    <button *ngFor="let world of ws ;"
    (click)="selectWorld(world)">
        {{world['name']}}
    </button>
</div>

<div *ngIf="world | async ; let ww">
    <h3>{{ww['name']}}</h3>
    <p>width:{{ww['width']}}</p>
    <p>height:{{ww['height']}}</p>
    <p>{{ww | json}}</p>

    <br>

    <input [value]="ww['width']"  #width placeholder="width">
    <button (click)="test(ww['name'], 'width', width.value)">send update</button>
    <br>
    <input [value]="ww['height']"  #height placeholder="height">
    <button (click)="test(ww['name'], 'height', height.value )">send update</button>
    <br>
    <input [value]="ww['squeletons']"  #squeletons placeholder="squeletons">
    <button (click)="test(ww['name'], 'squeletons', squeletons.value )">send update</button>
    
    <br>
    <button (click)="pass()">pass</button>

    <br>
    <h3>clans:</h3>
    <div *ngFor="let clan of ww['clans']">
        <br>
        <p>key: {{clan['key_']}}</p>
        <p>color :  {{clan['color']}}</p>
        <p>img : {{clan['img']}}</p>
    </div>
    <br>
    <div class="map">  
        <app-world-viewver
            #viewver
            [socket]="socketService.socketObservable"
            [character]="chara"
            (moveRequest)="move($event)"
            (focusCase)="focus($event)"
            >
        </app-world-viewver>
    </div>
    <div *ngIf="focusedCase | async ; let case">
        test
        <div *ngFor="let obj of case">
            <h3>name: {{obj['name']}}</h3>
            <div *ngFor="let val of obj | keyvalue">
                <p>{{val['key']}}:</p>
                <div *ngIf="val['key'] | keyFree else justShow" >
                    <input #input [value]="val['value']">
                    <button (click)="sendUpdate(obj, val['key'], input.value )">send update</button>
                </div>
                <ng-template #justShow> {{val['value']}}</ng-template>
                <br>
            </div>

        </div>
    </div>

</div>


<router-outlet></router-outlet>