<div fxLayout="row nowrap">
  <div class="map-viewver">
    <app-world-viewver
      [@pops]="mapPops"
      #worldViewver
      [character]="charaService.character"
      [socket]="socketService.socketObservable"
      (focusCase)="focus($event)"
    >
    </app-world-viewver>
  </div>

  <div
    *ngIf="focused | async; let objs"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    fxLayout="row wrap"
  >
    <div
      *ngFor="let obj of objs"
      class="target"
      fxLayout="column nowrap"
      fxLayoutAlign="start center"
    >
      <app-view [target]="obj"></app-view>
      <app-action
        [user]="charaService.character | async"
        [target]="obj"
      ></app-action>
    </div>
  </div>
</div>
