<div class="historic">
  <p
    *ngFor="
      let row of (charaService.character | async)['historic'] | keyvalue;
      let chara
    "
  >
    {{ row.value["message"] }}.
    <span *ngIf="row.value['key_'] === 'attack'"
      >D100={{ row.value["D100"] }} => dégâts={{ row.value["power"] }}</span
    >
    <span *ngIf="row.value['key_'] === 'counterAttack'"
      >D100={{ row.value["D100"] }} => dégâts={{ row.value["power"] }}</span
    >
    <span *ngIf="row.value['key_'] === 'pass'"
      >+{{ row.value["action"] }} actions, +{{
        row.value["move"]
      }}
      déplacements</span
    >
  </p>
</div>
