/* You can add global styles to this file, and also import other style files */

@import "./theme";

html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
}
*{
  margin : 0px ;
  padding: 0px ;
  box-sizing: border-box ;

  font-family: 'Sansita Swashed', cursive;
  font-family: 'Syne Mono', monospace;
  font-family: 'Syne Tactile', cursive;

}

$title-background : linear-gradient(50deg,  $light-blue, transparent ); ;
$title-border-radius : 0.5rem ;

h1{
  color : $yellow-light ;
  text-align: center;
  font-size: 3rem ;
  font-family: 'Cinzel Decorative', cursive;
  text-shadow: $red 0px 0px 3px;

  background: -webkit-linear-gradient($yellow-light , $yellow-light );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2{
  color:$yellow-light ;
  padding-bottom: 2rem ;
  text-align: center;
}


button{
  background-color: $light-blue ;
  color : white ;
  transition: 1s !important ;
  width : 100% ;
  margin: 1rem ;
}

::selection{
  background-color: $yellow-light;
  color : red ;
}


form{
  display: flex ;
  flex-flow: column nowrap ;
}

@font-face {
  font-family: Roboto;
  src: url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap")
    format("opentype");
}

.light-colors {
  background-color: mat-color($primary, default);
  color: mat-color($light-foreground-palette, text);
}
.dark-colors {
  background-color: mat-color($dark-p, default);
  color: mat-color($dark-foreground-palette, text);
}

// Utilities
.dib {
  display: inline-block;
}
.buttonForm {
  width: 100%;
}

// Main
html {
  height: 100%;
  background-color: $background;
}


.title {
  background-color: white;
  width: 100%;
  text-align: center;
}
.title-lt-md {
  background-color: white;
  width: 100%;
  text-align: center;
  font-size: 10px;
}
.lt-mg {
  font-size: 10px;
}

mat-card {

  margin : 0px ;
  padding : 0px !important ;
  height: 100% ;

  flex-flow: column nowrap !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: stretch !important;

  background : linear-gradient(180deg, $yellow-light, $dark-orange   ) !important ;
  
  mat-card-title {
    width : 100% ;
    background :linear-gradient(0deg, $orange 10%, transparent ) !important ;
    border-bottom: 1px solid $yellow-light ;
    font-size: 3rem ;
    color : white !important ;
    text-transform: uppercase;
    text-align: center;

    padding : 1rem 0px ;
    margin : 0px ;
    color : $red ;
    
  }

  mat-card-content {
    margin : 1.75rem !important ;
    display : flex !important ;
    flex-flow: column nowrap !important;
    flex-direction: column ;
    justify-content: center ;
    align-items: center;
  }

}
