
<div fxLayoutAlign="center center" fxLayout="column nowrap" style="height:80%">
    <div fxLayout="column nowrap">
        <h3>actualiser le mot de passe</h3>
            <form [formGroup]="formGroup">
                <p>votre nouveau mot de passe</p>
                <input formControlName="password" placeholder="mot de passe" type="password">
                <p>confirmez</p>
                <input formControlName="confirm" placeholder="confirmer mot de passe" type="password">
            </form>
        <button (click)="validate()">valider</button>
    </div>
</div>
